body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 30px;
}
h2 {
  color: #181414;
}
form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(214, 11, 11, 0.993);
  width: 320px;
}
label {
  display: block;
  margin-top: 10px;
  font-weight:bold;
}
input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.error {
  color: red;
  font-size: 0.85em;
  margin-top: 2px;
}
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
}
button:hover {
  background-color: #45a049;
}
.profile {
  margin-top: 25px;
  background: white;
  border-left: 5px solid #4CAF50;
  padding: 15px;
  width: 320px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.profile h3 {
  margin-top: 0;
}
